body {
  background-color: rgba(227, 231, 225, 0.855);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-containner {
  display: flex;
  padding-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 4px 40px #888888;
}

.header-containner span i {
  position: absolute;
  padding: 40px 20px;
  font-size: 13px;
  margin-left: 50px;
  color: rgb(116, 116, 228);
}
.header-containner h1 {
  border-bottom: 2px solid rgb(116, 116, 228);
}
.header-containner span {
  color: rgb(116, 116, 228);
}
.header_nav {
  margin-left: 800px;
  padding: 40px 16px;
}
.header_link {
  margin-right: 30px;
  text-decoration: none;
  color: #111;
  background-color: rgb(116, 116, 228);
  border-radius: 20px;
  padding: 10px;
  font-size: 12px;
}

.search_containner {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}
.search_containner_des {
  margin-top: 100px;
  padding: 30px;
}
.search_containner_des p {
  font-size: 12px;
  margin-bottom: 20px;
  margin-bottom: 20px;
  color: rgb(139, 136, 136);
}
.search_containner_des h1 span {
  color: rgb(116, 116, 228);
}
.search_containner_des h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
.search_containner_des h2 {
  font-size: 45px;
}

.search_containner_des h1 .hero_image {
  width: 500px;
  height: 400px;
}
.hero_image img {
  width: 500px;
  margin-top: 100px;
}
.btn {
  height: 20px;
  width: 400px;
  border: none;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
}
.btn input {
  width: 340px;
  height: 20px;
  border: none;
}
.btn input:focus {
  outline: none;
}
.btn i {
  position: absolute;
  height: 20px;
  width: 90px;
  font-size: 20px;
  margin-left: 30px;
  cursor: pointer;
}
.result_title {
  margin-top: 200px;
  width: 380px;
}
.result_title h1 {
  color: rgb(116, 116, 228);
  width: 200px;
}
.fitness_containner h1 {
  color: rgb(116, 116, 228);
}
.fitness_containner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 50px;
  margin-top: 180px;
}

.fitness_products {
  height: 600px;
  width: 400px;
  border-bottom: 3px solid rgb(116, 116, 228);
  padding-bottom: 10px;
}
.fitness_products img {
  border-radius: 20px;
  width: 380px;
  height: 450px;
  cursor: pointer;
}

.fitness_btn button {
  height: 40px;
  width: 350px;
  border: none;
  padding: 10px;
  background-color: rgb(250, 84, 84);
  border-radius: 20px;
  margin-top: 25px;
  margin-left: 10px;
  cursor: pointer;
}
.fitness_btn h6 {
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  color: #888888;
}
.fitness_btn button:hover {
  background-color: rgb(148, 148, 216);
}
/*FITTNESS DATAILS*/
.fitness_ctn {
  display: flex;
  padding: 40px;
}
.fitness_ctn img {
  width: 500px;
  height: 600px;
  border-radius: 15px;
}
.fitness_dsc {
  border-left: 2px solid rgb(116, 116, 228);
  margin-left: 40px;
}
.fitness_dsc h1 {
  font-size: 24px;
  color: rgb(116, 116, 228);
  margin-left: 30px;
}
.fitness_dsc p {
  margin-left: 20px;
  padding: 10px;
}
.fitness_dsc p span {
  font-size: bold;
  font-size: 20px;
}
.fotter_containner {
  text-align: center;
  height: auto;

  padding: 20px;
}
.fotter_containner h1 {
  font-size: 20px;
}
.fotter_containner h1 span {
  color: rgb(116, 116, 228);
}

/* mobile screen */
@media only screen and (max-width: 412px) {
  .header-containner {
    display: block;
  }
  .header-containner h1 {
    font-size: 12px;
    border-bottom: none;
  }
  .header-containner span i {
    display: block;
    font-size: 5px;
    padding: 5px 10px;
    margin-left: 0px;
  }
  .header_nav {
    margin-left: 120px;
    padding: 2px 20px;
  }

  .header_link {
    padding: 5px;
    height: 15px;
    width: 40px;
  }
  .search_containner_des {
    margin-top: 0px;
  }
  .search_containner_des h1 {
    font-size: 16px;
  }
  .search_containner_des h2 {
    font-size: 12px;
  }
  .search_containner_des p {
    font-size: 8px;
    width: 250px;
  }
  .btn {
    width: 200px;
    padding: 10px;
  }
  .btn input {
    width: 150px;
  }
  .btn i {
    font-size: 12px;
    margin-top: 5px;
  }
  .search_containner {
    display: block;
  }
  .hero_image {
    display: none;
  }
  .fitness_containner {
    display: block;
    margin-left: 0px;
    margin-top: 10px;
  }
  .result_title {
    margin-top: 0px;
  }
  .result_title h1 {
    font-size: 15px;
    padding: 10px;
  }
  .fitness_products {
    border-bottom: none;
  }
  .fitness_products img {
    width: 250px;
    margin-left: 35px;
    height: 400px;
    margin-top: 20px;
  }
  .fitness_btn button {
    height: 30px;
    width: 200px;
    font-size: 10px;
    margin-left: 40px;
  }
  .fitness_btn h6 {
    padding: 10px;
    font-size: 12px;
  }
  /*products datails */
  .fitness_ctn {
    display: block;
  }
  .fitness_ctn img {
    width: 250px;
    height: 400px;
    border: 2px solid rgb(116, 116, 228);
  }
  .fitness_dsc {
    border-left: none;
    margin-left: 0px;
  }
  .fitness_dsc h1 {
    font-size: 12px;
    margin-left: 0px;
  }
  .fitness_dsc p {
    margin-left: 0px;
    padding: 0px;
    font-size: 10px;
    width: 280px;
  }
  .fitness_dsc p span {
    font-size: 11px;
  }
  .fitness_ctn_h {
    font-size: 12px;
    margin-left: 30px;
  }
  /*fotter*/
  .fotter_containner {
    text-align: left;
    margin-left: 100px;
  }
  .fotter_containner h1 {
    font-size: 13px;
  }
  .fotter_containner p {
    font-size: 10px;
  }
}
